/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.bbprojectd
*.bbprojectsettings
*.sublime-workspace
*.sublime-project
app.zip
start.php
CLARINS.sublime-workspace

CLARINS.sublime-workspace
